* {
  background-color: #e5e5e5;
}

/* HOME SELLER */

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.no-th {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 5%;
}
.name-th {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  max-width: 40px;
}
.address-th {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  max-width: 40px;
}
.product-th {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  max-width: 40px;
}
.status-th {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  max-width: 30px;
}
.action-th {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}
.no {
  padding: 8px;
  width: 5%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
}
.name {
  padding: 8px;
  width: 15%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
}
.address {
  padding: 8px;
  width: 15%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
}
.product {
  padding: 8px;
  width: 15%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
}
.status {
  padding: 8px;
  width: 15%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
}
.action {
  padding: 8px;
  width: 15%;
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  justify-content: space-around;
}
th {
  background-color: #e5e5e5;
  border: 1px solid #828282;
}
td {
  background-color: #ffffff;
  border: 1px solid #828282;
}
.btn-cancel {
  width: 45%;
  height: 25px;
  background-color: #ff0742;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}
.btn-approve {
  width: 45%;
  height: 25px;
  background-color: #0acf83;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

/* HOME BUYYER */

/* ADVERT  */
.bg-advert {
  background-color: #ffc700;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-advert img {
  width: 60%;
  height: 80%;
  background-color: #ffc700;
}

/* POPULAR  */
.content-popular {
  background-color: #ffffff;
  height: 95px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}
.bg-content-popular {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}
.bg-content-popular img {
  background-color: #ffffff;
  width: 60%;
  height: 60%;
  margin-left: 20px;
}
.content-restonear {
  background-color: #ffffff;
  max-height: 230px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
}
.img-content-restonear {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.img-content-restonear img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.txt-content-restonear {
  background-color: #ffffff;
  display: flex;
  height: 100%;
  width: 90%;
  text-align: center;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-start;
}
.txt-content-restonear h6 {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}
.txt-content-restonear p {
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
}
